#milestones-list {
    list-style-type: none;
    padding-left: 0;
}

.student-timeline {
    width: 250px;
}

.student-name {
    min-width: 150px;
}

.student-status .last-spoken-date .last-progress-status {
    min-width: 100px;
}

.last-progress-feeling {
    min-width: 50px;
    text-align: center;
}

.name-edit {
    visibility: hidden;
    cursor: pointer;
}

.student-name:hover .name-edit {
    visibility: visible;
}

.milestone-form {
    display: inline-block;
}
